<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 border-bottom fixed-top mb-5 ">
    <img src="assets/logo.png" height="50px" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active ">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work">work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      <button type="button" class="btn btn-outline-dark">Lets chat ☺</button>
    </div>
  </nav>
</header>


<section class=" my-5 pt-5" id="Home">
  <div class="container ">
    <div class="row">
      <div class="col-sm-12 col-md-6 my-5">
        <h2>Hello! world</h2>
        <h2>I'm JAyendra Sharma</h2>
        <h2>
          < Development>
        </h2>
        <p>An independent web developer expert in angular and javascript</p>

        <button type="button" class="btn btn-outline-dark"><a href="assets/Jayuuuuuu.docx"
            class="text-decoration-none text-dark " download="Resume"> Download Resume</a></button>
      </div>
      <div class="col-sm-12 col-md-6 m-auto text-end  ">
        <img src="assets/1.png" class="img-fluid " alt="">
      </div>
    </div>
  </div>
</section>

<!-- about --><!-- about --><!-- about --><!-- about --><!-- about --><!-- about --><!-- about --><!-- about --><!-- about -->

<section class="about my-5 pt-5 " id="about">
  <div class="container">
        <div class="text-center my-5  ">
          <h1>About me</h1>
          <hr class="w-25 m-auto">
        
      
    </div>
    <div class="row ">
      <div class="col-sm-12 col-md-6 ">
        <h1>FRESHER</h1>
        <p class="p-2">I'am a software developer and angular expert working in a mandsaur city since 2022. Front end
          developer who writes clean, elegant and efficient code.</p>
        <button type="button" class="btn btn-light mb-5">More about me</button>
      </div>
      <div class="col-sm-12 col-md-6 m-auto text-end ">
        <img src="assets/pexels-tranmautritam-251225.jpg" class="img-fluid " alt="">
      </div>
    </div>
  </div>
</section>

<!-- Work --><!-- Work --><!-- Work --><!-- Work --><!-- Work --><!-- Work --><!-- Work --><!-- Work --><!-- Work --><!-- Work --><!-- Work -->
<section class="about my-5 pt-5" id="work">
  <div class="container">
    <div class="text-center my-5">
      <h1>Work</h1>
      <hr class="w-25 m-auto">
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 col-12">
        <img src="assets/w1.png" class="img-fluid" alt="...">
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12">
        <img src="assets/w2.png" class="img-fluid" alt="...">
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-12">
        <img src="assets/w3.png" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</section>

<!-- Contact --><!-- Contact --><!-- Contact --><!-- Contact --><!-- Contact --><!-- Contact --><!-- Contact --><!-- Contact --><!-- Contact -->

<section class="about my-5 pt-5" id="contact">
  <div class="container">
    <div class="text-center my-5">
      <h1>Contact</h1>
      <hr class="w-25 m-auto">
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3 col-12 text-center"><img src="assets/address.jpg" height="150px"
          alt="">
        <h3>Address</h3>
        <p>Sanjit Naka Mandsaur (M.P)</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-12 text-center"><img src="assets/contact.jpg" height="150px"
          alt="">
        <h3>Contact</h3>
        <p>+91-8770134993</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-12 text-center"><img src="assets/email.png" height="150px" alt="">
        <h3>Email Address</h3>
        <p>sharmajayendra5@gmail.com</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-12 text-center"><img src="assets/website.jpg" height="150px"
          alt="">
        <h3>Website</h3>
        <a href=" www.jacky.com" class="text-decoration-none text-dark">www.jacky.com</a>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid bg-primary text-white p-2 text-center fs-5">Created By JACKY</div>